@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/* *= Wildcard Card (sélectionne tout) */
* {
   box-sizing: border-box; /* !!! Revoir cours */
   font-family: "Raleway", "sans-serif", "arial";
}
/* Toujours indiquer une police de "secours" si Raleway pas prise en charge */

/* Voir cours responsive et bordure (maquettes) */


/* navbar */

nav {
   border: 1px solid red;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex-wrap: wrap;
}

nav a:hover {
   border-top: 3px solid #0065FC;
}

/* Voir cours sur le padding et responsive*/

nav a { /* Ainsi on sélectionne uniquement les "a" dans "nav" */
   padding: 2rem;
} 

nav img {
   width: 180px;
}

#logo {
   margin-right: auto;
   /* Mettre padding à gauche et à droite */
   padding: 0 2rem; 
}

.hebergement{
   color: #0065FC;
}


a {
   color: inherit;
   text-decoration: none;
}

.contenu {

   /* grow shrink basis */
   flex: 1 0 auto;
}

/* formulaire */

.formulaire
{
    margin: 15px 0px 15px 0px;
}
.fa-map-marker-alt
{
    color: black;
    position: absolute;
    width: 10px;
    margin: 10px 0px 0px 15px;
}
input[type=text] 
{
    padding: 10px;
    font-family: 'Raleway-bold';
    border: 1px solid #F2F2F2;
    border-left: 40px solid #F2F2F2;
    border-radius: 12px 0px 0px 12px; 
}
.rechercher
{
    padding: 10px;
    border: 1px solid #0065FC; 
    font-family: 'Raleway-bold';
    background-color: #0065FC;
    color : white;
    border-radius: 0px 12px 12px 0px; 
    transition: all 0.3s ease;
    margin-left: -5px;
}
.rechercher:hover
{
    background-color: white;
    color: #0065FC;
}

/* filtres */

.filtres
{
    display: flex;
    align-items: center;
}
.title_filtres
{
    font-family: 'Raleway-Bold';
    font-size: 0.9rem;
}
.texte_filtres
{
    font-size: 0.9rem;
    margin: 0;
    padding: 13px;
    font-family: 'Raleway-Bold';
}
.filtres ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    white-space: nowrap;
}
.filtres li
{
    margin: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
}
.filtres a
{
    margin: 0;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
.fondbleu
{
    background-color: #DEEBFF;
    border-radius: 40px;
    height: 45px;
    width: 45px;
}
.fa-dog, .fa-heart, .fa-child, .fa-money-bill-wave
{
    color: #0065FC;
    margin: 13px;
}
.filtres a:hover
{
    background-color: #0065FC;
    border-radius: 30px;
    color:white;
    box-shadow: 0px 0px 2px #0065FC;
}


/* footer */
footer {
   flex-shrink: 0;
   border-top: 1px dashed #000;
   width: 100%;
   background: #f1f1f1;
   color: #333;
}

.contenu-footer {
   width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   font-size: 12px;
   padding: 40px 5 100px;
}

.bloc {
   width: 25%;
   margin: 0 30px;
}

/* contact */

.footer-infos h3,
.footer-renseignements h3,
.footer-contact h3 {
   font-size: 17px;
   padding-bottom: 5px;
}

/* Media queries (partie responsive) */

@media screen and (max-width: 1300px) {

   .contenu-footer {
      width: 700px;
      flex-wrap: wrap;
   }
   .bloc {
      width: 40%;
      margin: 0 0;
   }
   .bloc:nth-child(1),
   .bloc:nth-child(2) {
      margin-bottom: 50px;
   }
}

@media screen and (max-width: 800px) {
   .contenu-footer {
      width: 320px;
   }
   .bloc {
      width: 300px;
      margin: 30px 30px;
   }
   .bloc:nth-child(1),
   .bloc:nth-child(2) {
      margin-bottom: 30px;
   }
   .bloc:nth-child(1) {
      margin-top: 0;
   }
}



